<!DOCTYPE html>
<html>
<head>

  <title><%= @title %></title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<%= @meta_partial %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1><%= @base.title %></h1>
      <h1 class="big">Voter Guide</h1>
      <h1>Vote by <%= @base.date %></h1>
    </div>
    <div class="section">
      <div class="inner">
        <div class="about">
          <h1>How Do I Vote?</h1>

          <h3>What You’ve Gotta Bring</h3>
          <p>
            To avoid issues on Election Day, or if you are a first time voter, we recommend you bring some identification: Illinois driver’s license/state ID, utility bill, bank statement, or current college ID card.
          </p>
          <p>
            If you are not already registered to vote, you may use Grace Period Voter Registration at early voting sites from February 17 - March 15. Go to <a target="_blank" href="http://chicagoelections.com">chicagoelections.com</a> to find a location near you.
          </p>

          <h3>When & Where You’ve Gotta Go</h3>
          <p>Early voting is February 29th through March 14th, and Election Day is <%= @base.date %>. To find polling locations for Election Day or early voting go to <a target="_blank" href="http://chicagoelections.com">chicagoelections.com</a></p>

          <h3>Brought to you by</h3>
          <div class="grid-12 clear">
            <a target="_blank" href="http://chicagovotes.com"><img class="grid-8 push-2" src="/images/chicagovotes.png"></a>
          </div>
          <p style="font-size: 0.75em; text-align: center" class="grid-11 centered gutter-top clear">And you can find all the <a href="https://github.com/mojowen/chicagovoterguide" target="_blank">code and whatever right here</a> and oh yeah it was built by <a target="_blank" href="http://twitter.com/sduncombe">this person</a>.</p>
          <h3 class="clear gutter-top">Stay in Touch</h3>
          <p style="font-size: 0.75em; text-align: center"><a target="_blank" href="http://chicagovotes.com">Chicago Votes</a> can email you if you'd like</p>
          <form action="https://docs.google.com/forms/d/1IhSu_Hq1gJqKuYINunJMa7YzncWiMr_fzwp1FOMxTEg/formResponse" method="POST" id="ss-form" target="_blank" class="grid-10 centered">
            <input type="email" name="entry.28880630" class="grid-8" id="entry_28880630"  placeholder="Your Email" >
            <input type="hidden"  name="submit" value="Submit" id="ss-submit" class="grid-3 push-1">
            <input type="submit"  value="Sign Up" id="ss-submit" class="grid-3 push-1">
          </form>
        </div>
      </div>
    </div>
  <div class="section">
    <div class="inner">
    <h2>State’s Attorney</h2>
    <h3>What She or He Does</h3>
    <p>The head law enforcement official in Cook County that can hold police accountable to their actions, determine independent prosecutors, and recommend sentencing lengths.</p>
    <% @candidates.each do |candidate| %>
       <div class="candidate <%= "row-#{[nil,1,2][@candidates.length]}" if @candidates.length < 3 %>">
        <h2><%= candidate['name'] %></h2>
        <div class="img" style="background-image: url('<%= candidate["photo"] || 'images/unknown.jpg' %>');" ></div>
        <div class="social">
          <% if candidate['website'] %>
            <a target="_blank" href="<%= candidate['website'] %>">
              <i  class="fa fa-link"></i>
              Website
            </a>
          <% end %>
          <% if candidate['facebook'] %>
            <a target="_blank" href="<%= candidate['facebook'] %>">
            <i class="fa fa-facebook-square"></i>
            Facebook
            </a>
          <% end %>
        </div>
        <a class="vote_for" data-name="<%= candidate["name"] %>" data-link="/sharing/candidates/<%= make_uri candidate['office'] %>-<%= make_uri candidate['name'] %>.html" data-office="<%= candidate['office'] %>" onclick="endorsementWidget(this)">endorse</a>
      </div>
    <% end %>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59932015-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
